body{
	margin: 0 auto;
	overflow: hidden;
}

#myCanvas{
	background: #fdf6e3;
	position: absolute;
	z-index: 0;
}

#gui{
	margin: 2px;
	/*width:15%;*/
	float: left;
	display:inline;
	text-align:center;
	position: absolute; 
	top:8px;
	left:8px;
	z-index: 2;
	background: #eee8d5;
	color: #657b83;
	border: 1px solid #1a1a1a;
	textShadow: 1px 1px 0 #222;
}

#infoBox{
	margin:10px;
	width:18%;
	position: absolute; 
	right:0;
	z-index: 2;
	color: #268bd2;
}
.buttonBox{
	float: left;
	margin-left: 5px
}
.textAreaBox{
	text-align:center;
}
.menutitle{
	margin:0.2em;
	padding:0.2em;
	text-align:center;
}
.menutext{
	margin-top: 0.8em;
	margin-bottom: 0.1em;
	color: #999999;
}
.menubox{
	margin-left: 3px;
	text-align:center;
	border-radius: 5px;
	float:left;
	clear:both;
	overflow:hidden;
    white-space:nowrap;
    display:inline-block;
    width:100%;

}

input[type="number"] {
   width:40px;
}